---
- name: Sync dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
    owner: "{{ egi_user }}"
    group: "{{ egi_group }}"
  loop:
    - /etc/egi/
    - /var/cache/image-sync

- name: Image sync cron
  ansible.builtin.cron:
    name: image sync
    weekday: "{{ image_sync_cron.weekday }}"
    minute: "{{ image_sync_cron.minute }}"
    hour: "{{ image_sync_cron.hour }}"
    user: root
    job: >
      flock -n -w {{ image_sync_cron.timeout }} /var/lock/sync
      docker run --rm -v /etc/egi:/etc/egi:ro
      -v {{ site_config_dir }}:{{ site_config_mountpoint }}:ro
      -v /var/cache/image-sync:/atrope-state
      {{ image_sync_image }} image-sync
      --config-dir /etc/egi >> /var/log/sync.log 2>&1
    cron_file: "egi-image-sync"
