---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # python deps
  - package-ecosystem: "uv"
    directory: "/"
    # Check for updates once a week
    schedule:
      interval: "weekly"
