site:
  name: {{ site.gocdb }}

compute:
  shares:
{% for vo in site.vos %}
{% if vo in vos and vos[vo] and "auth" in vos[vo] %}
    {{ vo }}:
      {{ site.vos[vo] | default({}) | to_nice_yaml(indent=2) | indent(6) }} 
{% endif %}
{% endfor %}
