# checkin configuration
checkin:
  token_endpoint: "https://aai.egi.eu/auth/realms/egi/protocol/openid-connect/token"
  client_id: id
  client_secret: secret

# docker image for the cloud info provider
cloud_info_image: egifedcloud/ops-cloud-info:latest

# site configuration location
site_config_dir: sites
site_config_mountpoint: /sites

# default user for the containers
egi_user: "1999"
egi_group: "1999"

# No site information as default
sites: []

# Empty swift configuration as default
swift:
  site:
  vo:
  container:

cloud_info_cron:
  minute: "4,34"
  hour: "*"
  weekday: "*"
  timeout: "600"

# registry configuration
registry:
  user: user
  password: password
  project: project

image_sync_image: ghcr.io/egi-federation/fedcloud-catchall:latest

image_sync_cron:
  minute: "5"
  hour: "*/3"
  weekday: "*"
  timeout: "9000" # 2.5 hours

accounting_image: ghcr.io/egi-federation/fedcloud-catchall:latest

accounting_cron:
  minute: "5"
  hour: "*/3"
  weekday: "*"
  timeout: "9000" # 2.5 hours
