# Cloud info version is f6f6a2e265cc9608d791f31a8ef2903302ca33f6
git+https://github.com/EGI-Federation/cloud-info-provider.git@f6f6a2e265cc9608d791f31a8ef2903302ca33f6
git+https://github.com/ARGOeu/argo-ams-library@devel
python-glanceclient
python-novaclient
python-keystoneclient
keystoneauth1
yq
fedcloudclient


