# Atrope with openstacksdk:
# https://github.com/EGI-Federation/atrope/commit/2c9b2fba74ed1c4e1f21bada335bf1823395971c
git+https://github.com/EGI-Federation/atrope@2c9b2fba74ed1c4e1f21bada335bf1823395971c
httpx
oslo.config
PyYAML
