# Atrope with openstacksdk and multiple harbor projects
# https://github.com/EGI-Federation/atrope/commit/5bb5e2aa53edd4b6cca1cce052d289bdba316e56
git+https://github.com/EGI-Federation/atrope@5bb5e2aa53edd4b6cca1cce052d289bdba316e56
httpx
oslo.config
PyYAML
