AMS_HOST={{ ams_host }}
AMS_PROJECT={{ ams_project }}
AMS_TOKEN={{ ams_token }}
CHECKIN_OIDC_TOKEN={{ checkin.token_endpoint }}
CHECKIN_SECRETS_PATH=/etc/egi/vos/
CLOUD_INFO_CONFIG=/etc/egi/cloud-info/{{ filename }}.yaml
OS_AUTH_TYPE=v3oidcaccesstoken
OS_AUTH_URL={{ site.endpoint }}
OS_IDENTITY_PROVIDER=egi.eu
OS_PROTOCOL={{ site.protocol | default('openid') }}
{% if "region" in site %}
OS_REGION={{ site.region }}
{% endif %}
SITE_NAME={{ site.gocdb }}
SWIFT_SITE_NAME={{ swift.site }}
SWIFT_VO_NAME={{ swift.vo }}
SWIFT_CONTAINER_NAME={{ swift.container }}
