[sync]
site_config_dir = {{ site_config_mountpoint }}
registry_user = {{ registry.user }}
registry_password = {{ registry.password }}
registry_project = {{ registry.project }}

[checkin]
client_id = {{ checkin.client_id }}
client_secret = {{checkin.client_secret }}
