---
name: "Deploy cloud-info"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "deploy/**"

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      dir: "deploy/cloud-info"
      tags: "cloud-info,docker"
    secrets: inherit
