---
name: "Deploy image sync"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "deploy/**"

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      dir: "deploy/image-sync"
      tags: "docker,image-sync"
      env: "image-sync"
    secrets: inherit
