---
name: Build and push containers

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  builder:
    name: Build and push images
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image:
        - cloud-info
        - caso
        - cloudkeeper-os
        - cloudkeeper-core

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: egifedcloud/ops-${{ matrix.image }}
          tags: |
            type=sha
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        if: github.event_name != 'pull_request'
      - name: Build
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          context: ${{ matrix.image }}
          file: ${{ matrix.image }}/Dockerfile
