---
name: Lint

on: pull_request

jobs:
  super-lint:
    name: Lint files
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Full git history needed to get proper list of changed files
          fetch-depth: 0

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: github/super-linter/slim@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Disabling these two for the moment, should be enabled later
          VALIDATE_CHECKOV: false
          VALIDATE_PYTHON_PYLINT: false
