name: Python testing

on:
  - pull_request
  - push

jobs:
  test:
    name: test python code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".catchall/python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run:
          cd catchall
          uv sync --locked
      - name: Run tests
        run: |
          cd catchall/src/catchall
          uv run python -m unittest
