name: Testing and validation

on:
  - pull_request
  - push

jobs:
  test:
    name: test python code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      # Check yaml files comply to schema
      - name: Check YAML schema
        run: |
          curl -L https://github.com/neilpa/yajsv/releases/download/v1.4.0/yajsv.linux.amd64 > yajsv
          chmod +x yajsv
          ./yajsv -s schema.json sites/*.yaml
      # Python
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run: |
          uv sync --locked --all-groups
      - name: Run tests
        run: |
          cd src/fedcloud_catchall
          uv run python -m unittest
      # Validation
      - name: Validate GOC and VOs
        run: |
          alias yq="uv run yq"
          ./validate.sh
