---
name: Validation

on: [pull_request, push]

jobs:
  validate:
    name: Validate files
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v5
      # Check yaml files comply to schema
      - name: Check YAML schema
        run: |
          curl -L https://github.com/neilpa/yajsv/releases/download/v1.4.0/yajsv.linux.amd64 > yajsv
          chmod +x yajsv
          ./yajsv -s schema.json sites/*.yaml
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Validate GOC and VOs
        run: |
          ./validate.sh
